.app__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__skills-heading {
  box-sizing: border-box;
  display: flex;
}

.app__skills-heading h1 {
  opacity: 1;
  font-family: var(--font-nunito);
  font-size: 92px;
  font-weight: 100;
  line-height: 105%;
  color: var(--text-bold);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.app__skills-content {
  margin: 1rem 15rem;
  padding: 0 15rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.1rem;
}

@media screen and (max-width: 1062px) {
  .app__skills-content {
    margin: 1rem 8rem;
  }
}

@media screen and (max-width: 1360px) {
  .app__skills-content {
    padding: 0 12rem;
  }
}

@media screen and (max-width: 1260px) {
  .app__skills-content {
    padding: 0 10rem;
  }
}

@media screen and (max-width: 1190px) {
  .app__skills-content {
    padding: 0 8rem;
  }
}

@media screen and (max-width: 1130px) {
  .app__skills-content {
    padding: 0 6rem;
  }
}

@media screen and (max-width: 1050px) {
  .app__skills-content {
    margin: 1rem 5rem;
  }
}

@media screen and (max-width: 1030px) {
  .app__skills-content {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 965px) {
  .app__skills-content {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 900px) {
  .app__skills-heading h1 {
    font-size: 82px;
    line-height: 105%;
  }
  .app__skills-content {
    margin: 1rem 3rem;
    padding: 0 0;
  }
}

@media screen and (max-width: 777px) {
  .app__skills-content {
    padding: 0 5rem;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
}

@media screen and (max-width: 750px) {
  .app__about-heading h1 {
    font-size: 72px;
    line-height: 100%;
  }

  .app__skills-content {
    margin: 0.8rem 2rem;
    padding: 0 7rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}

@media screen and (max-width: 720px) {
  .app__skills-content {
    margin: 0.8rem 2rem;
    padding: 0 5rem;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
}

@media screen and (max-width: 715px) {
  .app__skills-content {
    margin: 0.8rem 2rem;
    padding: 0 3rem;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
}

@media screen and (max-width: 650px) {
  .app__skills-heading h1 {
    font-size: 62px;
    line-height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .app__skills-content {
    margin: 0.7rem 1rem;
    padding: 0 1rem;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .app__skills-heading h1 {
    font-size: 52px;
    line-height: 90%;
  }
}

@media screen and (max-width: 450px) {
  .app__about-heading h1 {
    font-size: 32px;
    line-height: 80%;
  }
}

@media screen and (max-width: 440) {
  .app__skills-content {
    padding: 0 0;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
}

@media screen and (max-width: 435px) {
  .app__about-heading h1 {
    font-size: 25px;
    line-height: 80%;
  }
}

@media screen and (max-width: 325) {
  .app__skills-content {
    padding: 0 0;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  }
}
