.app__portfolio {
  display: flex;
  flex-direction: column;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(1, 1, 1, 0.16) 100%
    ),
    #001f33;
}

.app__portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

@media screen and (min-width: 2000px) {
  .app__portfolio-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
  }
}

@media screen and (max-width: 720px) {
  .app__portfolio-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 490px) {
  .app__portfolio-content {
    grid-template-columns: repeat(1, 100%);
  }
}
