/* .app__portfolio-container__projects {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
} */

/* .app__portfolio-container__projects img {
  width: 10rem;
  height: 10rem;
} */
