.app__hero {
  display: flex;
  padding: 5rem 6rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.app__hero-content {
  display: flex;
  flex-direction: column;
}

.app__hero-content h1 {
  font-family: var(--font-nunito);
  font-weight: 700;
  font-size: 3rem;
  line-height: 75px;
  color: #869ba9;
  margin-top: 15vh;
  margin-right: 55vw;
}

.app__hero-content h1 span {
  color: var(--text-bold);
}

.app__hero-content div {
  font-family: var(--font-nunito);
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  color: #919191;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 2350px) {
  .app__hero {
    padding: 4rem 20rem;
  }

  .app__hero-content h1 {
    margin-top: 20vh;
    margin-right: 60vw;
  }
}

@media screen and (max-width: 1255px) {
  .app__hero {
    padding: 5rem 9rem;
  }

  .app__hero-content h1 {
    margin-top: 15vh;
    margin-right: 45vw;
  }
}

@media screen and (max-width: 1160px) {
  .app__hero-content h1 {
    margin-top: 15vh;
    margin-right: 40vw;
  }
}

@media screen and (max-width: 1063px) {
  .app__hero {
    padding: 5rem 4rem;
  }

  .app__hero-content h1 {
    margin-top: 15vh;
    margin-right: 40vw;
  }
}

@media screen and (max-width: 963px) {
  .app__hero-content h1 {
    margin-top: 16vh;
  }
}

@media screen and (max-width: 930px) {
  .app__hero-content h1 {
    margin-top: 16vh;
    margin-right: 40vw;
  }
}

@media screen and (max-width: 850px) {
  .app__hero-content h1 {
    margin-top: 16vh;
    margin-right: 40vw;
  }
}

@media screen and (max-width: 799px) {
  .app__hero-content h1 {
    margin-top: 17vh;
    margin-right: 35vw;
    font-size: 2.8rem;
    line-height: 75px;
  }
}

@media screen and (max-width: 775px) {
  .app__hero-content h1 {
    margin-top: 19vh;
    margin-right: 35vw;
  }
}

@media screen and (max-width: 760px) {
  .app__hero-content h1 {
    margin-top: 45vh;
    margin-right: 35vw;
  }
}

@media screen and (max-width: 742px) {
  .app__hero-content h1 {
    margin-right: 30vw;
  }
}

@media screen and (max-width: 684px) {
  .app__hero-content h1 {
    margin-right: 25vw;
  }
}

@media screen and (max-width: 640px) {
  .app__hero-content h1 {
    margin-right: 15vw;
  }
}

@media screen and (max-width: 565px) {
  .app__hero-content h1 {
    margin-right: 10vw;
  }
}

@media screen and (max-width: 535px) {
  .app__hero-content h1 {
    margin-right: 5vw;
  }
}

@media screen and (max-width: 482px) {
  .app__hero-content h1 {
    font-size: 2.8rem;
    line-height: 4.5rem;
    margin-right: 1vw;
  }
}

@media screen and (max-width: 438px) {
  .app__hero-content h1 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-right: 1vw;
  }

  .app__hero-content div {
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (max-width: 415px) {
  .app__hero-content h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-right: 10vw;
  }

  .app__hero-content div {
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (max-width: 405px) {
  .app__hero-content h1 {
    margin-right: 7vw;
  }

  .app__hero-content div {
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (max-width: 389px) {
  .app__hero-content h1 {
    margin-right: 1vw;
  }
}

@media screen and (max-width: 370px) {
  .app__hero-content h1 {
    margin-right: -5vw;
  }

  .app__hero-content div {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 312px) {
  .app__hero-content h1 {
    margin-right: 1vw;
  }

  .app__hero-content div {
    font-size: 10px;
    line-height: 10px;
  }
}

@media screen and (max-width: 290px) {
  .app__hero-content h1 {
    margin-right: -7vw;
  }

  .app__hero-content div {
    font-size: 12px;
    line-height: 13px;
  }
}
