.app__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(26, 21, 21, 0) 0%,
    rgba(1, 1, 1, 0.16) 100%
  );
}

.app__about-heading {
  box-sizing: border-box;
  display: flex;
}

.app__about-heading h1 {
  opacity: 1;
  font-family: var(--font-nunito);
  font-size: 92px;
  font-weight: 100;
  line-height: 105%;
  color: var(--text-bold);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.app__about-content {
  justify-content: center;
}

.app__about-content p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 138.68%;
  color: #050505;
  justify-content: center;
  align-items: center;
  margin: 1rem 10rem;
  color: var(--light-mode);
}

.app__about-content p span {
  font-weight: bold;
  color: var(--text-bold);
}

@media screen and (min-width: 1450px) {
  .app__about-content p {
    margin: 1.5rem 20rem;
  }
}

@media screen and (max-width: 1062px) {
  .app__about-content p {
    margin: 1rem 5rem;
  }
}

@media screen and (max-width: 900px) {
  .app__about-heading h1 {
    font-size: 82px;
    line-height: 105%;
  }

  .app__about-content p {
    margin: 1rem 3rem;
  }
}

@media screen and (max-width: 750px) {
  .app__about-heading h1 {
    font-size: 72px;
    line-height: 100%;
  }

  .app__about-content p {
    margin: 0.8rem 2rem;
  }
}

@media screen and (max-width: 650px) {
  .app__about-heading h1 {
    font-size: 62px;
    line-height: 100%;
  }

  .app__about-content p {
    margin: 0.8rem 2rem;
  }
}

@media screen and (max-width: 550px) {
  .app__about-content p {
    margin: 0.7rem 1rem;
  }
}

@media screen and (max-width: 500px) {
  .app__about-heading h1 {
    font-size: 52px;
    line-height: 90%;
  }

  .app__about-content p {
    margin: 0.8rem 1rem;
  }
}

@media screen and (max-width: 450px) {
  .app__about-heading h1 {
    font-size: 32px;
    line-height: 80%;
  }
}

@media screen and (max-width: 435px) {
  .app__about-heading h1 {
    font-size: 25px;
    line-height: 80%;
  }

  .app__about-content p {
    margin: 0.8rem 0.5rem;
  }
}
