.app__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__contact-heading {
  border: 7px solid #000000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: 20rem;
  height: 5rem;
}

.app__contact-heading h1 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.2em;
  color: #000000;
}

.app__contact-content p {
  font-family: var(--font-nunito);
  font-weight: 400;
  font-size: 15px;
  line-height: 138%;
  color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 10rem;
}

.app__contact img {
  margin: 1rem;
  width: 10rem;
  height: 0.7rem;
  margin-bottom: 2.8rem;
}

.app__contact-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 22rem;
  margin: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  width: 100%;
  border: none;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  padding: 10px 14px;
  margin-bottom: 1.5rem;

  font-family: var(--font-montserrat);
  background: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1rem;
  color: #8b8b8b;
}

textarea {
  width: 100%;
  border: none;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  padding: 50px 15px;
  margin-bottom: 10px;

  text-align: justify;

  font-family: var(--font-montserrat);
  background: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1rem;
  color: #8b8b8b;
}

input[type='submit'] {
  width: 40%;
  background: transparent;
  text-transform: uppercase;
  border: none;
  border-left: 2.5px solid #000000;
  border-right: 2.5px solid #000000;
  padding: 9px 10px;
  margin-left: 30%;
  margin-top: 1rem;

  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.8rem;
  letter-spacing: 0.04em;

  color: #000000;
}

input[type='submit']:hover {
  background: var(--bg-gray);
}

input[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px none transparent;
  opacity: 0.8;
}

@media screen and (max-width: 1062px) {
  .app__contact-content p {
    margin: 1rem 8rem;
  }
}

@media screen and (max-width: 1050px) {
  .app__contact-heading {
    border: 6px solid #000000;
    margin-top: 1.8rem;
    margin-bottom: 2.5rem;
    width: 20rem;
    height: 5.4rem;
  }

  .app__contact-heading h1 {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.19em;
  }

  .app__contact-content p {
    margin: 1rem 5rem;
  }

  .app__contact-form {
    width: 25rem;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  .app__contact-heading {
    border: 6px solid #000000;
    margin-top: 1.6rem;
    margin-bottom: 2.3rem;
    width: 18rem;
    height: 5rem;
  }

  .app__contact-heading h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.1rem;
    letter-spacing: 0.17em;
  }

  .app__contact-content p {
    margin: 1rem 3rem;
  }
}

@media screen and (max-width: 750px) {
  .app__contact-heading {
    border: 6px solid #000000;
    margin-top: 1.5rem;
    margin-bottom: 2.2rem;
    width: 16rem;
    height: 4.9rem;
  }

  .app__contact-heading h1 {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.16em;
  }

  .app__contact-content p {
    margin: 0.8rem 2rem;
  }

  .app__contact-form {
    width: 22rem;
    margin: 0.4rem;
  }
}

@media screen and (max-width: 550px) {
  .app__contact-heading {
    border: 6px solid #000000;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 14rem;
    height: 4.7rem;
  }

  .app__contact-heading h1 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: 0.14em;
  }

  .app__contact-content p {
    margin: 0.7rem 1rem;
  }

  .app__contact-form {
    width: 18rem;
    margin: 0.4rem;
  }
}
