.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
}

.app__navbar-logo img {
  width: 50px;
  height: 50px;
}

.app__navbar-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}

.app__navbar-links a {
  font-family: var(--font-montserrat);
  margin: 0 1rem;
  cursor: pointer;
  color: var(--text-cool);
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.app__navbar-links a:hover {
  border-bottom: 0.1rem solid var(--text-cool);
  padding-bottom: 0.1rem;
  transform: translateY(-5px);
}

.app__navbar-contact {
  display: flex;
  margin: 0 0.8rem;
}

.app__navbar-contact button {
  background: transparent;
  border: 1px solid var(--text-cool);
  border-radius: 30px;
  height: 2rem;
}

.app__navbar-contact button:hover {
  background: #193331;
  height: 2.1rem;
}

.app__navbar-contact a {
  font-family: var(--font-montserrat);
  margin: 0 0.5rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: 0.5s ease;
  color: var(--text-cool);
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 30%;
  background: var(--bg-black);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 30px;
}

.app__navbar-smallscreen_links {
  list-style: none;
}

.app__navbar-smallscreen_links li {
  margin-top: 10px;
  margin-bottom: 7px;
}

.app__navbar-smallscreen_links a {
  font-family: var(--font-montserrat);
  margin: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: var(--text-cool);
}

.app__navbar-smallscreen_links a:hover {
  border-bottom: 0.1rem solid var(--text-cool);
  padding-bottom: 0.15rem;
  font-size: 17px;
  transform: translateY(-5px);
}

@media screen and (min-width: 2350px) {
  .app__navbar {
    padding: 4rem 20rem;
  }
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo img {
    width: 210px;
  }
}

@media screen and (max-width: 1060px) {
  .app__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 655px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-logo img {
    margin-left: 1rem;
  }

  .app__navbar-logo img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 599px) {
  .app__navbar-smallscreen_overlay {
    width: 35%;
  }
}

@media screen and (max-width: 550px) {
  .app__navbar {
    padding: 1rem;
  }
}

@media screen and (max-width: 524px) {
  .app__navbar-smallscreen_overlay {
    width: 40%;
  }
}

@media screen and (max-width: 475px) {
  .app__navbar-smallscreen_overlay {
    width: 40%;
  }
}

@media screen and (max-width: 455px) {
  .app__navbar-smallscreen_overlay {
    width: 50%;
  }
}

@media screen and (max-width: 355px) {
  .app__navbar-smallscreen_overlay {
    width: 50%;
  }
}

@media screen and (max-width: 370px) {
  .app__navbar-smallscreen_overlay {
    width: 60%;
  }
}

@media screen and (max-width: 305px) {
  .app__navbar-smallscreen_overlay {
    width: 100%;
  }
}
