.div {
  border-bottom: 0.1rem solid var(--text-bold);
  justify-content: center;
  margin: 0 7rem;
}

.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* For even bigger screens */
@media screen and (min-width: 2350px) {
  .section__padding {
    padding: 4rem 20rem;
  }
}

@media screen and (max-width: 1060px) {
  .div {
    margin: 0 5rem;
  }
}

/* For Tablets or bigger phones */
@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

/* For mobile devices */
@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .div {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 650px) {
  .div {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 960px) {
  .home {
    /* ff 3.6+ */
    background: -moz-linear-gradient(
      176deg,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.56) 68%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(
      176deg,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.56) 68%
    );

    /* opera 11.10+ */
    background: -o-linear-gradient(
      176deg,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.56) 68%
    );

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );

    /* ie 10+ */
    background: -ms-linear-gradient(
      176deg,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.56) 68%
    );

    /* global 94%+ browsers support */
    background: linear-gradient(
      176deg,
      rgba(0, 0, 0, 1) 68%,
      rgba(0, 0, 0, 0.56) 68%
    );
  }
}
