.app__footer {
  background: var(--bg-black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-top: 0.1rem solid rgba(134, 155, 169, 0.3);
  margin: 0 7rem;
}

.app__footer-contents a {
  color: var(--light-mode);
}

.app__footer-contents_social {
  margin-bottom: 0.8rem;
}

.app__footer-contents_social a {
  margin: 0.5rem;
  font-size: 3rem;
}

.app__footer-contents p {
  font-family: var(--font-nunito);
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1.4rem;
  color: var(--light-mode);
}

@media screen and (max-width: 1060px) {
  .app__footer {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 650px) {
  .app__footer {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 650px) {
  .app__footer {
    margin: 0 2rem;
  }
}
